@charset "UTF-8";
#search-form {
  margin-left: 60px; }

.nav-link {
  margin: 0 10px; }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  object-fit: cover; }

.video-content {
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.content {
  padding-top: 120px; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif; }

.header-section {
  font-size: 180%;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase; }

.header-section::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px; }

.row-width {
  width: 85%;
  margin: 20px auto; }

.para-section {
  color: #555;
  line-height: 145%;
  width: 70%;
  padding: 0 60px;
  text-align: center; }

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle; }

.form-container {
  margin-top: 20px; }

.form-title {
  background-color: #0275d8;
  padding: 10px;
  text-align: center; }

.form-title h4 {
  color: white; }

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #cfcfd1; }

.info h1,
h3,
p {
  color: whitesmoke;
  line-height: 200%; }

.info {
  width: 80%; }

.carousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.c-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro1.jpg"); }

.c-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg"); }

.c-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro3.jpg"); }

.c-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624112/caro4.jpg"); }

.searchbar {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #cfcfd1; }

.searchbar * {
  margin-right: 10px; }

#search-input {
  width: 350px; }

#search {
  display: flex;
  justify-content: center; }

.center-cards {
  margin: 10px 5px;
  width: 20rem;
  height: auto; }

.center-cards {
  margin: 10px 5px; }

.center-feature {
  display: flex;
  margin-bottom: 5px; }

.cards {
  display: flex;
  justify-content: center; }

.card img {
  height: 150px; }

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-text {
  color: #555; }

.no-centers-found {
  width: 400px;
  height: 250px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 30px;
  color: #e67e22; }

.no-events-found {
  width: 600px;
  height: 250px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #e67e22; }

.footer {
  background-color: #222;
  padding: 10px;
  margin-top: 40px; }

.center-flex form {
  background-color: #cfcfd1;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; }

.center-flex h1 {
  margin-top: 100px; }

.spinner {
  display: flex;
  justify-content: center;
  padding: 20px; }

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  margin-right: 10px;
  display: inline-flex; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.center-list {
  background: #d0cbcd;
  padding: 20px;
  margin-bottom: 20px; }

.center-list button {
  margin-left: 10px; }

.btn-list-1 {
  margin-right: auto; }

.list-item {
  display: flex;
  background: #c4c4c4;
  padding: 10px 10px;
  margin: 10px;
  border-bottom: solid 1px #a19e9e; }

.list-item-deleted {
  display: flex;
  background: #ffbaba;
  padding: 10px 10px;
  margin: 0 10px 10px 10px;
  border-bottom: solid 1px #ff5252; }

.is-deleted {
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 10px;
  color: #360000; }

.btn-list {
  cursor: pointer;
  border: none;
  padding: 2px 6px;
  font-size: 16px; }

.btn-list-disabled {
  color: grey !important;
  border: none;
  padding: 2px 6px;
  font-size: 16px; }

.ion-icon-disable {
  color: #f2f2f2; }

.btn-list:first-child {
  margin-left: auto;
  background: #528854;
  margin-right: 5px; }

.btn-list-disabled:first-child {
  margin-left: auto;
  background: grey;
  margin-right: 5px; }

.btn-list-disable:last-child {
  background: #ae4c5c; }

.btn-list:last-child {
  background: #ae4c5c; }

.btn-list-disabled:first-child:hover {
  background: #1a672f;
  color: #f2f2f2; }

.btn-list-disabled:first-child:hover {
  background: grey;
  color: white;
  cursor: not-allowed; }

.btn-list-disabled:last-child:hover {
  background: #983030;
  color: white; }

.ion-icon {
  color: white; }

.header-center {
  display: flex;
  justify-content: center;
  padding-right: 100px; }

.ion-android-arrow-dropdown {
  font-size: 20px; }

.event-item-details {
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.show-available-center {
  display: inline; }

.hide-non-available {
  display: none; }

.event-item-details h6 {
  text-align: center;
  font-weight: 700; }

.wrap-item-details {
  display: flex;
  padding: 10px 20px; }

.wrap-item-details img {
  width: 124px;
  text-align: center; }

.aside-item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center; }

.aside-item p {
  color: black;
  font-size: 12px;
  padding: 0;
  margin: 0; }

.time {
  font-size: 14px;
  color: green;
  text-align: left;
  padding: 0;
  margin: 0; }

.time span {
  color: green; }

.forms {
  position: absolute;
  top: 20%;
  left: 10%; }

.signin {
  background: #cfcfd1;
  padding: 30px 30px; }

.submitting {
  display: flex;
  justify-content: center;
  color: green;
  margin-bottom: 20px; }

.signup-link {
  margin-left: 10px;
  font-size: 12px; }

.modal {
  border-radius: 5px;
  display: none;
  position: fixed;
  z-index: 100;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  animation-name: animatetop;
  animation-duration: 0.4s; }

.delete {
  width: 400px;
  max-width: 100%;
  height: 180px;
  max-height: 100%;
  left: 50%;
  top: 50%; }

.event-center {
  width: 650px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  left: 50%;
  top: 55%; }

.modal-gut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px; }

.modal-guts p {
  text-align: center;
  color: #333; }

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6); }

@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

.modal-footer {
  padding: 10px 20px;
  color: #333;
  font-size: 16px; }

.modal-header {
  display: flex;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #eeedeb; }

#form-group {
  margin-bottom: 0; }

.modal-header span {
  margin-left: auto; }

.closed {
  display: none; }

.opened {
  display: block; }

.center-loader {
  text-align: center; }

.center-loader span {
  color: #333; }

.cover-page {
  min-height: 30vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg");
  background-size: contain;
  color: #fff;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px; }

.cover-page h2 {
  font-weight: 300; }

.cover-page ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }

.cover-page li {
  padding-right: 10px;
  font-size: 20px; }

.cover-page li::before {
  content: '♥  ';
  padding-left: 4px; }

.display-events {
  display: flex;
  flex-wrap: wrap; }

.display-events > div {
  margin: 10px; }

.loader-big {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.center-event-info {
  background: #d0cbcd;
  padding: 10px;
  margin: 10px 0;
  color: #555;
  display: flex; }

.center-event-info strong {
  flex: 1; }

.center-event-info div {
  flex: 3; }

.menucontent h4 {
  margin-top: 50px;
  color: #555; }

.menucontent {
  margin-bottom: 50px; }

.event-date {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 50px; }

.event-date li {
  background: #eeedeb;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold; }

.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  padding: 10px 20px;
  margin: 10px;
  background: #fffafa; }

.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.event-card p {
  color: #555;
  margin-top: 10px; }

.more-details:hover {
  text-decoration: none; }

.set-margin-top {
  margin-top: 100px;
  margin-right: 100px; }

.set-message-center {
  text-align: center; }

.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg");
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding-top: 40px;
  padding-bottom: 50px; }

.header-section {
  font-size: 180%;
  font-weight: 300;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase; }

.testimony {
  flex: 1; }

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.testimonials div {
  padding: 0 10px; }

.section-testimonials h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px; }

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }

blockquote:before {
  content: '\201C';
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px; }

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block; }

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; }

.not-found {
  margin-top: 120px;
  padding: 50px; }

.not-found-span {
  border: 1px solid black;
  padding: 50px;
  font-size: 100px;
  margin: 10px; }

.not-found-wrapper h1 {
  font-size: 48px;
  font-weight: 700; }

.not-found-wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  color: red;
  margin-top: 0;
  padding-top: 0; }

.not-found-wrapper p {
  color: black;
  font-size: 24px; }

.not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* DayPicker styles */
.DayPicker {
  display: inline-block; }

.DayPicker-wrapper {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 1rem;
  flex-direction: row; }

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 1rem;
  margin-top: 1rem; }

.DayPicker-NavButton {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  margin-top: 2px;
  color: #8b9898;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.DayPicker-NavButton:hover {
  opacity: 0.8; }

.DayPicker-NavButton--prev {
  margin-right: 1.5rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC"); }

.DayPicker-NavButton--next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg=="); }

.DayPicker-NavButton--interactionDisabled {
  display: none; }

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: left;
  margin-bottom: 0.5rem; }

.DayPicker-Caption > div {
  font-size: 1.15rem;
  font-weight: 500; }

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group; }

.DayPicker-WeekdaysRow {
  display: table-row; }

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5rem;
  font-size: 0.875em;
  text-align: center;
  color: #8b9898; }

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none; }

.DayPicker-Body {
  display: table-row-group; }

.DayPicker-Week {
  display: table-row; }

.DayPicker-Day {
  display: table-cell;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 50%; }

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec; }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

.DayPicker-Footer {
  padding-top: 0.5rem; }

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em; }

/* Default modifiers */
.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700; }

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898; }

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */ }

/* Example modifiers */
.DayPicker-Day--sunday {
  background-color: #f7f8f8; }

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #f0f8ff;
  background-color: #4a90e2; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa; }

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff; }

/* DayPickerInput */
.DayPickerInput {
  display: inline-block; }

.DayPickerInput-OverlayWrapper {
  position: relative; }

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
