// eslint-disable
.carousel-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.c-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro1.jpg');
}

.c-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro2.jpg');
}

.c-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dcgwltbei/image/upload/v1530624111/caro3.jpg');
}

.c-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dcgwltbei/image/upload/v1530624112/caro4.jpg');
}