.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.center-flex form {
  background-color: #cfcfd1;
  border-radius: 5px;
  padding: 30px 10px;
}
.adjust-top {
  position: absolute;
  top: 15%;
  left: 10%;
}
