.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.center-flex form {
  background-color: #cfcfd1;
  border-radius: 5px;
  padding: 30px 10px;
}
.adjust-top {
  position: absolute;
  top: 15%;
  left: 10%;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  margin-right: 10px;
  display: inline-flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
