.center-event-info {
  background: linear-gradient(to bottom right, #6d6027, #a39141);
  padding: 10px;
  margin: 10px 0;
  color: white;
  display: flex;
  border-radius: 5px;
}

.center-event-info strong {
  flex: 1;
}
.center-event-info div {
  flex: 3;
}
.menucontent h4 {
  margin-top: 50px;
  color: #555;
}
.menucontent {
  margin-bottom: 50px;
}
.event-date {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

.event-date li {
  background: #eeedeb;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
}
