.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  padding: 10px 20px;
  margin: 10px;
}
.event-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.event-card p {
  color: #555;
  margin-top: 10px;
}
