html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header-section {
    font-size: 180%;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
}

.header-section::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: ' ';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.row-width {
    width: 85%;
    margin: 20px auto;
}

.para-section {
    color: #555;
    line-height: 145%;
    width: 70%;
    padding: 0 60px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
}