.forms {
  position: absolute;
  top: 20%;
  left: 10%;
}

.signin {
  background: #cfcfd1;
  padding: 30px 10px;
}

.submitting {
  display: flex;
  justify-content: center;
  color: green;
  margin-bottom: 20px;
}
