.form-container {
    margin-top: 20px;
}

.form-title {
    background-color: #0275d8;
    padding: 10px;
    text-align: center;
}

.form-title h4 {
    color: white
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #cfcfd1;
}